/* Reset default styles */
:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}